<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Video Service For my home.">
    <meta name="author" content="Jong mo Kim">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>우리집 넷플릭스</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<div th:replace="fragment/Header::header"></div>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div th:replace="fragment/Category::category"></div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <!--            <div class="row" style="border: 1px solid red;">-->
            <!--                <h1>영상 컨텐츠 리스트</h1>-->
            <!--            </div>-->
            <!-- 최근 등록된 동영상 -->
            <div th:replace="fragment/RecentRegistered::recent"></div>
            <!-- 컨텐츠 리스트 START -->
            <div th:replace="fragment/ContentList::content-list"></div>
            <!-- 컨텐츠 리스트 END -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<div th:replace="fragment/Footer::footer"></div>
<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="app/index.js?v=0"></script>

</body>

</html>
