<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <title>등록 페이지</title>
    <style>
        .progress {
            margin-top: 20px;
            position: relative;
            width: 100%;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 3px;
            height: 2rem;
        }

        .bar {
            background-color: #B4F5B4;
            width: 0%;
            height: 20px;
            border-radius: 3px;
        }

        .percent {
            position: absolute;
            display: inline-block;
            top: 3px;
            left: 48%;
        }

        .group-input {
            border: 1px double red;
        }

        .category-input {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Home Video</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>새로운 동영상을 등록</h2>
                <hr>
            </div>
        </div>
        <div class="row category-input">
            <div class="col-md-3 field-label-responsive">
                <label for="category_name">카테고리</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="dropdown">
                        <select id="category_name" name="category_id" class="custom-select custom-select-sm">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input id="newCategory" type="button" class="btn btn-danger" value="새 카테고리">
            </div>
        </div>
        <div class="group-input-list">
            <div class="group-input">
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="file_name">파일 이름</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="file" name="file" accept=".mp4" class="form-control" id="file_name"
                                       placeholder="동영상_제목.mp4">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-danger" value="파일 추가" onclick="addFile();">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="title">제목</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text" name="title" class="form-control" id="title"
                                       placeholder="동영상 제목" required autofocus>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="button" id="regBtn" class="btn btn-success" value="등록하기">
            </div>
        </div>
    </form>
    <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>
</div>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
</footer>
<script>
    function removeDiv(fileNumber) {
        $('#group-input-'+fileNumber).remove();
    }
    function categoryLoad() {
        $.ajax({
            url: '/category',
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                if (data.status === 'ERROR') {
                    alert(data.description);
                    return;
                }
                let content = '';
                let categories = data.data;
                for (let i = 0; i < categories.length; i++)
                    content += '<option value="' + categories[i].id + '">' + categories[i].name + '</option>';
                $('#category_name').html(content);
            }
        });
    }

    var fileCnt = 1;
    function addFile() {
        var content =
            '<div class="group-input" id="group-input-'+fileCnt+'">' +
            '<div class="row">' +
            '<div class="col-md-3 field-label-responsive">' +
            '<label for="file_name">파일 이름</label>' +
            '</div>' +
            '<div class="col-md-6">' +
            '<div class="form-group">' +
            '<div class="input-group mb-2 mr-sm-2 mb-sm-0">' +
            '<input type="file" name="file" accept=".mp4" class="form-control"' +
            'placeholder="동영상_제목.mp4">' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="col-md-3">' +
            '<input type="button" class="btn btn-danger" value="Delete" onclick="removeDiv('+(fileCnt++)+');">' +
            '</div>' +
            '</div>' +
            '<div class="row">' +
            '<div class="col-md-3 field-label-responsive">' +
            '<label for="title">제목</label>' +
            '</div>' +
            '<div class="col-md-6">' +
            '<div class="form-group">' +
            '<div class="input-group mb-2 mr-sm-2 mb-sm-0">' +
            '<input type="text" name="title" class="form-control" placeholder="동영상 제목" required autofocus>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
        $('.group-input-list').append(content);
    }

    $(document).ready(function () {
        var fileCnt = 1;
        $('#newCategory').click(function () {
            let name = prompt("추가할 카테고리 명을 입력하세요.", '');
            if (name !== '') {
                $.ajax({
                    url: '/category',
                    type: "POST",
                    data: JSON.stringify(name),
                    contentType: 'application/json',

                    success: function (data) {
                        alert(data.description);
                        categoryLoad();
                    }
                })
            }
        });

        categoryLoad();

        var bar = $('.bar');
        var percent = $('.percent');

        $('#regBtn').click(function () {
            $('form').attr("action", 'http://' + location.hostname + ':9090/upload');
            $('form').submit();
        });

        $('form').ajaxForm({
            // 전송 전
            beforeSend: function () {
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            // 업로드 시
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = '';

                if(percentComplete === 100)
                    percentVal = "잠시만 기다려주세요...(1분 이내)";
                else
                    percentVal = percentComplete + '%';

                bar.width(percentVal);
                percent.html(percentVal);
            },
            // // 완료 시
            complete: function (xhr) {
                console.log(xhr.responseText);
                alert(xhr.responseText.data);
                window.location.reload();
            }
        });

    });


</script>

</body>
</html>