<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<table class="table" th:fragment="categoryList">
    <thead class="thead-dark">
    <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">기능</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>런닝맨</td>
        <td>
            <a href="#" title="수정"><i class='far fa-edit' style='font-size:24px'></i></a>
            <a href="#" title="삭제"><i class='far fa-trash-alt' style='font-size:24px'></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>무한도전</td>
        <td>
            <a href="#" title="수정"><i class='far fa-edit' style='font-size:24px'></i></a>
            <a href="#" title="삭제"><i class='far fa-trash-alt' style='font-size:24px'></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>한국영화</td>
        <td>
            <a href="#" title="수정"><i class='far fa-edit' style='font-size:24px'></i></a>
            <a href="#" title="삭제"><i class='far fa-trash-alt' style='font-size:24px'></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>외국영화</td>
        <td>
            <a href="#" title="수정"><i class='far fa-edit' style='font-size:24px'></i></a>
            <a href="#" title="삭제"><i class='far fa-trash-alt' style='font-size:24px'></i></a>
        </td>
    </tr>
    </tbody>
</table>
</html>