<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" th:fragment="navigation">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/videoPage">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/categoryPage">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>

</html>