<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="videoList">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            카테고리 선택
        </button>
        <div class="dropdown-menu">
            <!--            <a class="dropdown-item">런닝맨</a>-->
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">썸네일 경로</th>
            <th scope="col">조회수</th>
            <th scope="col">설명</th>
            <th scope="col">등록일</th>
            <th scope="col">기능</th>
        </tr>
        </thead>
        <tbody id="contentBody">
        <!-- Contents -->
        </tbody>
    </table>

    <!-- Image Popup -->
    <div class="img-popup">
        <span>OK</span>
        <img src='' width='300'>
    </div>
</div>
</html>