<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <meta charset="UTF-8" name = "viewport" content = "width = device-width, initial-scale = 1">
    <title>안녕하세요. 모바일 홈플레이어입니다.</title>
</head>
<body>
<h1>안녕하세요. 모바일 홈플레이어입니다.</h1>
<ul id="list"></ul>

<script>
    var $ = jQuery.noConflict();
    $(document).ready(function () {
        $.get('http://localhost:9090/video/list',function (data, status) {
            console.log(status);
            var content = '';
            for(var i=0;i<data.length;i++){
                content += '<li><a href="http://localhost:9090/video/'+i+'">'+data[i]+'</a></li>'
            }
            $('#list').html(content);
        });
    });
</script>
</body>
</html>